* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: whitesmoke;
  height: 3rem;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav-link:hover {
  background-color: snow;
}
.nav-link:focus {
  color: rebeccapurple;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.home-link {
  text-decoration: none;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

img {
  width: 300px;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 380px;
  padding: 10px;
  /* border:2px solid black; */
  box-shadow: 0 0 5px 2px gainsboro;
  margin: 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
}
.btn-container > * {
  margin: 8px;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  background-color:honeydew;
}

.content-container {
  display: flex;
  justify-content: center;
}

.content-link{
  width: 80px;
  text-decoration: none;
  color: black;
}

.content-link:hover{
  color: blue;
}

.videoDetail{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.detail-card-container{
  display: flex;
  box-shadow: 0 0 5px 2px gainsboro;
}

.detail-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:300px;
  padding: 10px;
}
.videoDetail img{
  width: 300px;
}

.heading{
  text-align: center;
}

.loader{
  text-align: center;
}
